

<script>
	document.domain = "spmgn.ru"; // да-да, это обязательно нужно, иначе не заработает
var t1=location.href;
//alert( t1);
document.write(document.referrer);
</script>

	<H3>Отчет по закупке 345</H3>
	<SELECT id="selected_user">
		<OPTION value="0">Natalia</OPTION>
		<OPTION value="1">Rustamdzh</OPTION>
		<OPTION value="2">Хочуха</OPTION>
		<OPTION value="3">Лиска</OPTION>
		<OPTION value="4">кто-то</OPTION>
		<OPTION value="5">еще кто-то</OPTION>
	</SELECT>
	<SELECT id="selected_filter">
		<OPTION value="0">Поступившие в ЕЦ</OPTION>
		<OPTION value="1">Отправленые в ЕЦ</OPTION>
		<OPTION value="2">Все</OPTION>
	</SELECT>
	<input type="button" value="Ежедневный отчет" onclick="day_report_ec();" />
	
    <div class="panel">
       <div class="inner"><span class="corners-top"><span></span></span>

       <div class="content">
          <p>
             We were founded this year to bring you the best forum on the Internet!
             
             We promise to do the following:
			 
			<form method="post" action="" id="update">
			<input id="sort_lot" name="sort_lot" type="checkbox" onclick="javascript:sort_lot=!sort_lot;" value=""/>Сортировать по названию&nbsp;&nbsp;&nbsp;&nbsp;
			<input id="hide_refusals" name="hide_refusals" type="checkbox" onclick="javascript:hide_refusals=!hide_refusals;" value="1"/>Скрывать отказы&nbsp;&nbsp;&nbsp;&nbsp;

			<input type="submit" value="&nbsp &nbsp ОБНОВИТЬ &nbsp &nbsp">
			</form>



             <ul>
				<li>Что-то тут пишем</li>
				<li>{USERNAME}</li>
				<li>Provide new content</li>
                <li>provide a friendly atmosphere</li>
				
                <li>Provide an environment where you can have fun!</li>
             </ul>
          </p>
       </div>

       <span class="corners-bottom"><span></span></span></div>
    </div>
<SCRIPT language="Javascript" src="./js/common1.js"></SCRIPT>
<SCRIPT language="javascript">
function GetUser()
{
html.push('test');	
	
}

</SCRIPT>

