<!-- INCLUDE overall_header.html -->
<div >
<h2>Ваши заказы</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<table width="100%">
<tbody>
<tr>
<td>
<h2>Мои заказы</h2>
</td>
<td align="right">
<a target="_blank" title="Сбербанк-Онлайн" href="https://online.sberbank.ru/CSAFront/index.do">
<img src="./images/bank/sber.png">
</a>
<a target="_blank" title="Куб - директ" href="https://direct.creditural.ru/">
<img src="./images/bank/cub.png">
</a>
<a target="_blank" title="Отслеживание почтовых отправлений" href="http://xn----7sbza0acdlkaf3d.xn--p1ai/rp/servise/ru/home/postuslug/trackingpo">
<img src="./images/bank/mailofrussia.png">
</a>
</td>
</tr>
</tbody>
</table>
	
		<div class="content">
			<FONT size=2>
				<span>
					<table width="100%">
					<tr><td  width="40%">
						<table width="100%">
							<tr><td align="right" width="60%"><b>Имя пользователя:</b></td><td>{USERNAME}</td></tr>
							<tr><td align="right" width="60%"><b>Номер пользователя:</b></td><td><b><font color="red">{USER_ID}</font></b></td></tr>
							<tr><td align="right" width="60%"><b>Ваша контактная информация:</b></td><td id="contact_info">{USER_INFO}</td></tr>
						</table>
					</td><td>
						<table width="100%">
							<tr><td align="right" width="50%"><b>Статус: </b></td><td><!-- IF S_USER_IS_ORGANIZER -->Организатор / <!-- ENDIF -->Покупатель</td></tr>
							<tr><td align="right" width="50%"><b>Количество участий в закупках: </b></td><td><b><font color="red">{USER_COL_PURCH}</font></b></td></tr>
<!-- IF S_USER_IS_ORGANIZER -->
							<tr><td align="right" width="50%"><b>Количество организованных закупок: </b></td><td id="contact_info">{USER_COL_ORG}</td></tr>
<!-- ENDIF -->
							</table>
					</td></tr>
					</table>
				</span>
			<span id="contact_info_warning"></span>
			<br><br>
			<span id="orders"></span>

			<div id="date_picker" style="display:none;position:absolute;top:0px;left:0px;z-index:100;">
			</div>

<SCRIPT language="Javascript">
var contact_info = document.getElementById("contact_info").innerHTML;
if (!contact_info)
{
	var html = new Array();
	html.push( '<br />');
	html.push( '<center>');
	html.push( '	<H4 class="error">ВНИМАНИЕ: Вы не указали свою контактную информацию!</H4>');
	html.push( '	<br />');
	html.push( '	<div class="error">Зайдите в "личный раздел", на закладку "профиль" и укажите свой контактный телефон. Вы можете также воспользоваться этой <a href="ucp.php?i=profile&mode=profile_info<!-- IF _SID -->&sid={_SID}<!-- ENDIF -->">ссылкой</a>.</div>');
	html.push( '</center>');
	html.push( '<br />');
	document.getElementById("contact_info_warning").innerHTML = html.join('');
}
var max_comment_length = 125;
var max_payment_length = 256;

function strequ(s1,s2)
{
	return s1.replace(/\s+/g,'')==s2.replace(/\s+/g,'');
}

function show_purchase(purchase_id,show)
{
		$.ajax({
			type : 'POST',
			url : 'function_po.php{SID}', 
			data : {
				'cmd': "show_purchase",
				'purchase_id': purchase_id,
				'show': show
			},
			beforeSend : function () {
			},
			success : function (result, errors) {
				if ("ok" == result)
				{
				}
				else
				{
					alert("Произошла ошибка!\n" + errors);
					// Write errors to the debug div.
					//document.getElementById("debug").innerHTML = errors;
				}
			}
		})
	var shot = $('.purchase_shot'+purchase_id);
	var full = $('.purchase_full'+purchase_id);
		$(shot).each (
			function () {
				this.style.display=(this.style.display == 'none') ? 'block' : 'none';
			});
		$(full).each (
			function () {
				this.style.display=(this.style.display == 'none') ? 'block' : 'none';
			});
	//$(shot).style.display=($(shot).style.display == 'none') ? 'block' : 'none';
	//$(full).style.display=($(full).style.display == 'none') ? 'block' : 'none';
}
function delete_order( order_id)
{
	if (!confirm( "Вы действительно хотите удалить эту позицию из заказа?"))
		return;
	//do_clock( order_id, 1 );
	$.ajax({
		type : 'POST',
		url : 'function_po.php{SID}', 
		data : {
			'cmd': "delete_from_order",
			'order_id': order_id
		},
		// Function is called when an answer arrives.
		success : function(result, errors)
		{
			if ("ok" == result)
			{
				//do_clock( order_id, -1 );
				// table row element
				var r = document.getElementById("order_" + order_id);
				for (var i=0; i<r.childNodes.length; i++)
				{
					var el = r.childNodes[i];
					if ("tagName" in el && "td"==el.tagName.toLowerCase())
					{
						el.innerHTML="удалено";
					}
				}
			}
			else
			{
				alert("Произошла ошибка при удалении из заказа!\n" + errors);
				// Write errors to the debug div.
				document.getElementById("debug").innerHTML = errors;
			}
		}
	});
}	

function change_order( order_id)
{
	// table row element
	var idx = 0;
	var vars = new Object;
	while (document.getElementById("order" + order_id + "_var" + idx))
	{
		var sel = document.getElementById("order" + order_id + "_var" + idx);
		for (var i=0; i<sel.childNodes.length; i++)
		{
			var el = sel.childNodes[i];
			if ("tagName" in el && "option"==el.tagName.toLowerCase() && true==el.selected)
			{
				vars[sel.name] = el.value;
				break;
			}
		}
		idx ++;
	}
//	do_clock( order_id, 1 );
	$.ajax({
		type : 'POST',
		url : 'function_po.php{SID}',
		data : {
			'cmd': "change_order",
			'order_id': order_id,
			'lot_vars': vars
		},
		dataType: 'json',
		// Function is called when an answer arrives.
		success : function(result, errors)
		{
//			do_clock( order_id, -1 );
			if ("ok" == result)
			{
				// do nothing
			}
			else
			{
				alert("Произошла ошибка при изменении заказа!\n" + errors);
				// Write errors to the debug div.
				//document.getElementById("debug").innerHTML = errors;
			}
		}
	});
}
function update_comment(id)
{
	var txt = document.getElementById("order_comment_" + id);
	if (txt.value.length>max_comment_length)
	{
		alert( "Ваш комментарий слишком длинный, вы можете ввести до " + max_comment_length  + " знаков");
		return;
	}
	//do_clock( id, 1 );
	$.ajax({
		type : 'POST',
		url : 'function_po.php{SID}',
		data : {
				'cmd': "update_order_comment",
				'order_id': id,
				'comment': txt.value
		},
		// Function is called when an answer arrives.
		success : function(result, errors)
		{
			//do_clock( id, -1 );
			if ("ok" == result)
			{
			}
			else
			{
				alert("Произошла ошибка при обновлении комментария!\n" + errors);
				// Write errors to the debug div.
				//document.getElementById("debug").innerHTML = errors;
			}
		}
	});
}

function purchase_move_to_archive(purchase_id,name)
{
	if (!confirm("Убрать заказы из закупки \"" + name + "\" в архив?\n\nВНИМАНИЕ!\n\n То, что Вы убираете заказ в архив, не означает что Вы отказываетесь от заказа! Для того, чтобы отказаться от заказа, воспользуйтесь красным крестиком напротив заказа или договаривайтесь с организаторм закупки!"))
	{
		return;
	}

	$.ajax({
		type : 'POST',
		url : 'function_po.php{SID}', 
		data : {
			'cmd': "purchase_move_to_archive",
			'purchase_id': purchase_id
		},
		// Function is called when an answer arrives.
		success : function(result, errors)
		{
			if ("ok" == result)
			{
				document.getElementById("purchase"+purchase_id).innerHTML = "";
			}
			else
			{
				alert("Произошла ошибка!\n" + errors);
				// Write errors to the debug div.
				document.getElementById("debug").innerHTML = errors;
			}
		}
	});
}

Date.prototype.lastday = function() {
  var d = new Date(this.getFullYear(), this.getMonth() + 1, 0);
  return d.getDate();
};

function change_payment( purchase_id, source)
{
	var text = document.getElementById( "payment"+source + purchase_id ).value;
	var new_text = text.replace(/^\s+|\s+$/g,"");
	var reg;
	if (source=="_time"){
		reg=/^(?:([0-2]{0,1})\d):(?:[0-5]\d)(\:(?:[0-5]\d))?$/i;
		var regres;
		if (!reg.test(new_text)) {
			alert('Поле "Время" не соответствует заданному формату.\n Пример правильного заполнения 12:30:00');
			//document.getElementById( "payment"+source + purchase_id ).value = payment_timeMsg;
			return;
		}else {
			regres = reg.exec(new_text);
			if (regres[1]=="") new_text="0"+new_text;
			if (!regres[2]) new_text+=":00";
			document.getElementById( "payment"+source + purchase_id ).value = new_text;
			text = new_text;
		}
	}
	if (source=="_date"){
		if (!document.getElementById( "hidden_payment_date" + purchase_id ).value ){
			reg=/^\d{1,2}([-])\d{1,2}\1\d{4,4}$/i;
			var regres;
			if (!reg.test(new_text)) {
				alert('Поле "Дата" не соответствует заданному формату.\n Пример правильного заполнения 07-11-2009');
				return;
			}else {
				regres = reg.exec(new_text);
				var tmp = new_text.split(regres[1]);
				var errdate = new Date(tmp[2], tmp[1]-1, tmp[0]);
				if ((tmp[0]>errdate.lastday())||(tmp[1]>12)) {
					alert('Некорректное значение даты');
					return;
					}
				text = new_text;
			}
		}
		else {
			alert('Дата уже введена. Если она не корректна - напишите об этом в комментарии об оплате');
			return;
		}
	}
/*
	if (source=="_card"){
		reg=/^(?:[0-9\s]*)$/i;
		if (!reg.test(new_text)) {
			alert('Номер карты может содержать только цифры');
			//document.getElementById( "payment"+source + purchase_id ).value = payment_cardMsg;
			return;
		}
	}
*/	
	if (source=="_money"){
		if (!document.getElementById( "hidden_payment_date" + purchase_id ).value ){
			$.ajax({
				type : 'POST',
				url : 'function_po.php{SID}',
				data : {
					'cmd': "change_payment",
					'purchase_id': purchase_id,
					'text': document.getElementById( "payment_date" + purchase_id ).value,
					'source': '_date'
				},
				dataType: 'json',
				// Function is called when an answer arrives.
				success : function(result, errors)
				{
					//do_clock( "payment" + purchase_id, -1 );
					if ("ok" == result)
					{
						// do nothing
					}
					else
					{
						alert("Произошла ошибка при изменении информации об оплате!\n" + errors);
						// Write errors to the debug div.
						//document.getElementById("debug").innerHTML = errors;
					}
				}
			});
		}
		reg=/^(\d+)([\.|\,]?)(\d*)$/i;
		if (!reg.test(new_text)) {
			alert('Сумма оплаты может содержать только цифры');
			//document.getElementById( "payment"+source + purchase_id ).value = "0.00";
			return;
		}else {
			regres = reg.exec(new_text);
			if (regres[2]==",") new_text=regres[1]+"."+regres[3];
			if (regres[2]=="") new_text+=".";
			if (regres[3].length==1) new_text+="0";
			if (regres[3].length=="") new_text+="00";
			document.getElementById( "payment"+source + purchase_id ).value = new_text;
		}
		text = parseFloat(new_text);
	}
//	do_clock( "payment" + purchase_id, 1 );
	$.ajax({
		type : 'POST',
		url : 'function_po.php{SID}',
		data : {
			'cmd': "change_payment",
			'purchase_id': purchase_id,
			'text': text,
			'source': source
		},
		dataType: 'json',
		// Function is called when an answer arrives.
		success : function(result, errors)
		{
			//do_clock( "payment" + purchase_id, -1 );
			if ("ok" == result)
			{
				// do nothing
			}
			else
			{
				alert("Произошла ошибка при изменении информации об оплате!\n" + errors);
				// Write errors to the debug div.
				//document.getElementById("debug").innerHTML = errors;
			}
		}
	});
}

</SCRIPT>
	<a href='archive.php{SID}' class='button2'>Архив</a>
	<!-- BEGIN purchases -->
			<div id="purchase{purchases.ID}">
				<div class="panel bg3">
					<div class="inner">
						<span class="corners-top"><span></span></span>
							<div class="purchase_shot{purchases.ID}" style="display:<!-- IF purchases.HIDDEN eq 1 -->block<!-- ELSE -->none<!-- ENDIF -->">
								<!-- IF purchases.O_STATE --><input type="image" src="images/icons/archive.gif" title="Убрать эти заказы в архив" onClick="javascript:purchase_move_to_archive({purchases.ID},'{purchases.NAME}');"><!-- ENDIF -->

								<input type="button" value="Показать" onClick="show_purchase({purchases.ID},false);"/>
								<A title="Перейти к обсуждению закупки {purchases.NAME}'" href="{purchases.FORUM_URL}">{purchases.ID}/{purchases.NAME}</A><A NAME="ev_{purchases.ID}"> </A>
		
								<font size="4" color="#FF00FF">{purchases.STATE}</font> {purchases.NEXT_DATE}
								<br>
							</div>
							<div class="purchase_full{purchases.ID}" style="display:<!-- IF purchases.HIDDEN eq 0 -->block<!-- ELSE -->none<!-- ENDIF -->">
								<!-- IF purchases.O_STATE --><input type="image" src="images/icons/archive.gif" title="Убрать эти заказы в архив" onClick="javascript:purchase_move_to_archive({purchases.ID},'{purchases.NAME}');"><!-- ENDIF -->

								<input type="button" value="Скрыть" onClick="show_purchase({purchases.ID},true);"/>
								<TABLE>
									<TR><TD align="right"><B>Закупка:</B></TD>
										<TD><A title="Перейти к обсуждению закупки {purchases.NAME}'" href="{purchases.FORUM_URL}">{purchases.ID}/{purchases.NAME}</A><A NAME="ev_{purchases.ID}"> </A></TD>
										<TD>&nbsp;&nbsp;&nbsp </TD>
										<TD><b><big> Номер Заказа :<big></b></TD>
										<TD><b><big>{purchases.ID}-{purchases.POUR_ID}<big></b></TD>
									</TR>
									<TR><TD align="right"><B>Организатор:</B></TD><TD><A title="Просмотреть информацио о пользователе {purchases.ORG_USERNAME}" href="memberlist.php?do_=188&amp;mode=viewprofile&amp;u={purchases.ORG_USER_ID}<!-- IF _SID -->&sid={_SID}<!-- ENDIF -->">{purchases.ORG_USERNAME}</A></TD></TR>
									<TR><TD align="right"><B>Состояние:</B></TD><TD><font size="4" color="#FF00FF">{purchases.STATE}</font> {purchases.NEXT_DATE}</TD></TR>
								</TABLE>
								<TABLE border="1" width="100%">
									<TR align="center">
										<TD></TD>
										<TD><B>Каталог</B></TD>
										<TD><B>Изображение</B></TD>
										<TD><B>Название</B></TD>
										<TD><B>Параметры</B></TD>
										<TD><B>Цена у.е.</B></TD>
										<TD><B>Цена р.</B></TD>
										<TD><B>Орг %</B></TD>
										<TD><B>Доставка</B></TD>
										<TD><B>Состояние</B></TD>
										<TD><B>Комментарий</B></TD>
									</TR>
									<!-- BEGIN order -->
									<TR id="order_{purchases.order.ID}" align="center">
										<TD align="center">
											<img cnt="0" src="./images/icons/empty.png"">
											<span style="position:relative; left:-22px; top:-22px"></span>
											<!-- IF purchases.order.STATE eq 0 -->
											<input type="image" title="Удалить позицию из заказа" src="images/icons/delete.png" onClick="javascript:delete_order({purchases.order.ID});">
											<!-- ELSEIF 3 != purchases.order.STATE and 5 != purchases.order.STATE-->
											<img src="images/icons/sale.gif" />
											<!-- ENDIF -->


										</TD>
										<TD><A href="catalog.php?catalog_id={purchases.order.CATALOG_ID}<!-- IF _SID -->&sid={_SID}<!-- ENDIF -->" title="Перейти в каталог">{purchases.order.CATALOG_NAME}</A></TD>
										<TD><a href="catalog.php?catalog_id={purchases.order.CATALOG_ID}&lot_id={purchases.order.LOT_ID}<!-- IF _SID -->&sid={_SID}<!-- ENDIF -->" title="Перейти в каталог к этой модели"><IMG src="{purchases.order.IMAGE_URL}" height="100"></IMG></a></TD>
										<TD><a href="catalog.php?catalog_id={purchases.order.CATALOG_ID}&lot_id={purchases.order.LOT_ID}<!-- IF _SID -->&sid={_SID}<!-- ENDIF -->" title="Перейти в каталог к этой модели">{purchases.order.LOT_NAME}</a></TD>
										<TD>
										<!-- IF purchases.order.STATE eq 0 -->
											<!-- BEGIN vars -->
											<b>{purchases.order.vars.NAME}:</b>
											<select id="order{purchases.order.ID}_var{purchases.order.vars.ID}" name="{purchases.order.vars.NAME}" onchange="javascript:change_order({purchases.order.ID});">');
												<!-- BEGIN values -->
												<option {purchases.order.vars.values.SELECT} value="{purchases.order.vars.values.VALUES}">{purchases.order.vars.values.VALUES}</option>');
												<!-- END values -->
											</select>
											<!-- END vars -->
										<!-- ELSE -->
											<!-- BEGIN lvars -->
											<b>{purchases.order.lvars.NAME}:</b> {purchases.order.lvars.VALUES}<br>
											<!-- END lvars -->
										<!-- ENDIF -->
										</TD>
										<TD align="center">{purchases.order.LOT_COST_U} </br>{purchases.order.CATALOG_VALUTA}</TD>
										<TD align="center">{purchases.order.LOT_COST}</TD>
										<TD align="center">{purchases.order.ORG_FEE}%</TD>
										<TD align="center">{purchases.order.DELIVERY}</TD>
										<TD  id="status_{purchases.order.ID}"><font color="{purchases.order.STATE_CLR}">{purchases.order.STATE_TXT}<font></TD>
										<TD> 
											<TEXTAREA <!-- IF purchases.order.STATE > 0 --> disabled <!-- ENDIF --> style="width:95%" title="После редактирования кликните мышью за пределами поля для записи изменений." id="order_comment_{purchases.order.ID}" rows="5" onchange="javascript:update_comment({purchases.order.ID});">{purchases.order.COMMENT}</TEXTAREA>
										</TD>
									</TR>
									<!-- END order -->
									<TR align="center">
										<TD colspan="5" align="right"><B>Итого заказ:</B></TD>
										<TD>{purchases.TO_PRICE_U} {purchases.order.CATALOG_VALUTA} </TD>
										<TD>{purchases.TO_PRICE}</TD>
										<TD>{purchases.TO_ORG_FEE}</TD>
										<TD>{purchases.TO_DELIVERY}</TD>
										<TD> ------ </TD>
										<TD><b>На общую сумму:</b> {purchases.TO_SUM}</TD>
									</TR>

									<TR align="center">
										<TD colspan="5" align="right"><B>Итого к оплате(только позиции, включенные в счет):</B></TD>
										<TD>{purchases.TOTAL_PRICE_U} {purchases.order.CATALOG_VALUTA}</TD>
										<TD>{purchases.TOTAL_PRICE}</TD>
										<TD>{purchases.TOTAL_ORG_FEE}</TD>
										<TD>{purchases.TOTAL_DELIVERY}</TD>
										<TD><b>Скидка:</b> {purchases.DISCOUNT}</TD>
										<TD><b>Всего к оплате:</b> {purchases.TOTAL_SUM}<br/><b>Оплачено:</b> {purchases.MONEY}</TD>
									</TR>
									<!-- IF purchases.PAYMENT_INFO -->
									<tr>
										<td colspan="10" bgColor="#FFFF00"><font color="#FF00FF"><b>Информация для оплаты заказа:</b> <br/>{purchases.PAYMENT_INFO} <br/> Оплата за заказ:{purchases.ID}-{purchases.POUR_ID} <font/></td>
									</tr>
									<!-- ENDIF -->
									<tr>
										<td rowspan="2">
											<img cnt="0" src="./images/icons/empty.png" id="status_payment{purchases.ID}">
										</td>
										<td colspan="3" rowspan="2" align="center">
											<b>Сюда пишите информацию об оплате:<br/>Сумма, Фамилия, Имя, Дата, Время и другую информацию<br/>(см. правила закупки в теме)</b>&nbsp;&nbsp;&nbsp;
										</td>
										<td align="center">
											Время:<input type="text" class="inputbox autowidth" size="7" maxlength="10" title="Время оплаты. Пример правильного заполнения 12:30:00" id="payment_time{purchases.ID}" onChange="javascript:change_payment({purchases.ID},'_time');" onclick="javascript:if(strequ(this.value,'{purchases.PAYMENT_TIMEMSG}'))this.value='';" onblur="javascript:if(strequ(this.value,''))this.value='{purchases.PAYMENT_TIMEMSG}';" value="<!-- IF purchases.PAYMENT_TIME -->{purchases.PAYMENT_TIME}<!-- ELSE -->{purchases.PAYMENT_TIMEMSG}<!-- ENDIF -->"/>
										</td>
										<td colspan="2" align="center" vertical-align="middle">
											Дата:<input type="text" class="inputbox autowidth datebox" size="9" maxlength="10" title="Дата оплаты. Пример правильного заполнения 07-11-2009" id="payment_date{purchases.ID}" onChange="javascript:change_payment({purchases.ID},'_date');" onClick="javascript:if(strequ(this.value,'00/00/0000'))this.value='';" onblur="javascript:if(strequ(this.value,''))this.value='00-00-0000';" value="<!-- IF purchases.PAYMENT_DATE -->{purchases.PAYMENT_DATE}<!-- ELSE -->{CURDATE}<!-- ENDIF -->"/>
											<input type="hidden" id="hidden_payment_date{purchases.ID}"   value="{purchases.PAYMENT_DATE}"/>
										</td>
										<td colspan="3" align="center">
											ФИО держателя карты:<input title="Имя, отчество, первая буква фамилии держателя карты. Например: Наталья Ивановна К." type="text" class="inputbox autowidth" size="24" maxlength="24" title="" id="payment_card{purchases.ID}" onChange="javascript:change_payment({purchases.ID},'_card');" value="<!-- IF purchases.PAYMENT_CARD -->{purchases.PAYMENT_CARD}<!-- ENDIF -->" />
										</td>
										<td colspan="1" align="center">
											Сумма:<input type="text" class="inputbox autowidth" size="7" maxlength="9" name="d_money" title="Оплаченная сумма. Поле может содержать только цифры" id="payment_money{purchases.ID}" onChange="javascript:change_payment({purchases.ID},'_money');" onclick="javascript:if(strequ(this.value,'0.00'))this.value='';" onblur="javascript:if(strequ(this.value,''))this.value='0.00';" value="<!-- IF purchases.PAYMENT_MONEY -->{purchases.PAYMENT_MONEY}<!-- ELSE -->0.00<!-- ENDIF -->"/>
										</td>
									</tr>
									<tr>
										<td colspan="7">
											<textarea rows="4" style="width:99%" title="После редактирования кликните мышью за пределами поля для записи изменений." id="payment_text{purchases.ID}" onChange="javascript:change_payment({purchases.ID},'_text');"  onclick="javascript:if(strequ(this.value,'{purchases.PAYMENTMSG}'))this.value='';" onblur="javascript:if(strequ(this.value,''))this.value='{purchases.PAYMENTMSG}';"><!-- IF purchases.PAYMENT_TEXT -->{purchases.PAYMENT_TEXT}<!-- ELSE -->{purchases.PAYMENTMSG}<!-- ENDIF --></textarea>
										</td>
									</tr>
								</TABLE>
							</div>
						<span class="corners-bottom"><span></span></span>
					</div>
				</div>
			</div>
			<!-- END purchases -->

		</FONT>
		</div>
		<span class="corners-bottom"><span></span></span>
   </div>
</div>

</div>
<!-- INCLUDE overall_footer.html -->
