<!-- INCLUDE overall_header.html -->


<SCRIPT language="Javascript">

function trim (str) {
	str = str.replace(/^\s+/, '');
	for (var i = str.length - 1; i >= 0; i--) {
		if (/\S/.test(str.charAt(i))) {
			str = str.substring(0, i + 1);
			break;
		}
	}
	return str;
}

function change_name()
{
	document.getElementById('name2').innerHTML = document.getElementById('username').value;
}
function change_pas()
{
	document.getElementById('pas2').innerHTML = document.getElementById('userpas').value;
}

function valid()
{
	if(trim(document.getElementById('username').value)==""){
		alert('Введите ФИО');
		return false;
	}
	if(trim(document.getElementById('userpas').value)==""){
		alert('Введите Паспорт');
		return false;
	}
	if(trim(document.getElementById('useradr').value)==""){
		alert('Введите Адрес');
		return false;
	}
	if(trim(document.getElementById('userphone').value)==""){
		alert('Введите Телефон');
		return false;
	}
	if(trim(document.getElementById('userphone2').value)==""){
		alert('Введите Мобильный телефон');
		return false;
	}
	return confirm("Вы действительно хотите подписать договор.\nПродолжить?");
}
</SCRIPT>
<div class="panel">
<center><h2>Договор об оказании услуг №{ID}</h2>
<table width=80% ><tr>
<td>г. Кемерово</td><td align="right">{DATA}</td>
</tr>
</table>
</center>
<p style="text-indent: 20px;"><b>Паршуковская Марина Геннадьевна</b>, именуемая в дальнейшем «<b>Администрация</b>», с одной стороны и 
<b id="name2">{REALNAME}</b>, именуемый(ая) в дальнейшем «<b>Организатор</b>», 
паспорт <b id="pas2">{PASPORTDATA_NUMBER}</b>, 
с другой стороны, именуемые в дальнейшем также «<b>Стороны</b>», заключили настоящий Договор о нижеследующем: 
</p>
<ol>
<center><b><li>Предмет договора</li></b></center>
<p style="text-indent: 20px;">Администрация предоставляет Организатору возможность использования принадлежащего ей информационного ресурса <a href="http://www.sp-kemerovo.ru">www.sp-kemerovo.ru</a>,
в дальнейшем «Информационный ресурс», для целей проведения совместной покупки.</p>

<center><b><li>Права и обязанности сторон</li></b></center>
<p>
2.1. Администрация обязуется:<br />
2.1.1. Обеспечить работоспособность Информационного ресурса, прилагать все усилия для оперативного исправления возникающих ошибок.<br />
2.1.2. Рекламировать информационный ресурс, приложить все усилия к привлечению новых участников. <br />
</p>
<p> 
2.2. Организатор обязуется:<br /> 
2.2.1. Соблюдать Правила Организатора, изложенные в <a href="dog.php?i=1">Приложении №1</a> к настоящему договору.<br />
2.2.2. В срок до 5 числа каждого месяца, следующего за отчетным, предоставить Администрации всю информацию о проведенных в отчетном месяце закупках в установленной для отчетов форме, а также произвести оплату за пользование Информационным ресурсом в размере 2% от объема проведенных закупок.<br />
2.2.4. Предоставить любую другую информацию по закупке по запросу Администрации.<br />
</p>
<p>
2.3. Права Администрации:<br />
2.3.1. В случае нарушения Организатором Правил Организатора Администрация вправе вынести Организатору предупреждение.<br />
2.3.2. В случае повторного нарушения Организатором Правил Организатора Администрация вправе заблокировать доступ Организатора на Информационный ресурс.<br />
2.3.3. В случае нарушения Организатором прав участников совместной покупки Администрация вправе заблокировать доступ Организатора на Информационный ресурс.<br />
2.3.4. Администрация имеет право предоставить Организатору скидки транспортных компаний, которыми обладает.<br />
2.3.5. Иные права Администрации указаны в Правилах Организатора.<br />
</p>
<p>
2.4. Права Организатора:<br />
2.4.1. Организатор имеет право запрашивать справочную информацию о своей закупке.<br />
2.4.2. Организатор имеет право  вести деятельность, не противоречащую данному договору и Правилам Организатора.<br />
2.4.3. Иные права Организатора указаны в Правилах Организатора.<br />
</p>
<center><b><li>Ответственность сторон</li></b></center>
<p style="text-indent: 20px;">За неисполнение или ненадлежащее исполнение своих обязанностей по настоящему договору Стороны несут ответственность в соответствии с действующим законодательством российской Федерации.</p>

<center><b><li>Конфиденциальность</li></b></center>
<p>
4.1. Предоставляемая Администрацией и Организатором друг другу техническая, финансовая, коммерческая и иная информация, связанная с предметом настоящего договора, является коммерческой тайной.<br />
4.2. Стороны примут все необходимые и достаточные меры, чтобы предотвратить разглашение полученной информации третьим лицам.<br />
</p>
<center><b><li>Разрешение споров</li></b></center>
<p>
5.1. При возникновении споров Стороны настоящего договора будут стараться разрешить их путем переговоров.<br />
5.2. При невозможности решения споров путем переговоров они будут передаваться на рассмотрение в районный суд г. Кемерово.<br />
5.3. Сторона, нарушившая свои обязательства по настоящему договору (путем неисполнения или ненадлежащего исполнения принятых на себя обязательств), обязуется возместить другой стороне причиненные таким нарушением убытки.<br />
</p>
<center><b><li>Срок действия договора</li></b></center>
<p>6.1. Настоящий договор вступает в силу с момента подписания и действует до 31.12.2010г.</p>

<center><b><li>Изменение и прекращение договора</li></b></center>
<p>
7.1. При прекращении договора за сторонами сохраняется ответственность по обязательствам, возникшим у них в период действия настоящего договора.<br />
7.2. Настоящий договор может быть расторгнут досрочно по инициативе любой из сторон с обязательным письменным уведомлением другой стороны, не менее чем за 30 календарных дней до даты расторжения.<br />
7.3. Все изменения и дополнения к настоящему договору производятся в письменной форме, действительны после их подписания Сторонами и становятся неотъемлемой частью настоящего договора.<br />
</p>
<center><b><li>Адреса и реквизиты сторон</li></b></center>
</ol>
<form method="post" name="gov" id="gov">  
<center>
<table width=90%>
<tr valign="top">
<td width=50%>
Администрация<br/>
<br/>
Паршуковская Марина Геннадьевна<br/>
Паспорт 6904 №056350<br/>
Адрес: г.Томск, ул.Лебедева, 40-92.<br/>
тел. 8 913 881 6590<br/>
</td>
<td>
Организатор<br/>
<br/>
<table>
<tr><td>ФИО:</td><td><!-- IF ACTIV --><b>{REALNAME}</b><!-- ELSE --><input id="username" type="text" name="username" class="inputbox" alt="username" size="35" value="{REALNAME}" onChange="javascript:change_name();" /><!-- ENDIF --></td></tr>
<tr><td>Паспорт:</td><td><!-- IF ACTIV --><b>{PASPORTDATA_NUMBER}</b><!-- ELSE --><input id="userpas" type="text" name="userpas" class="inputbox" alt="userpas" size="35" value="{PASPORTDATA_NUMBER}" onChange="javascript:change_pas();"/><!-- ENDIF --></td></tr>
<tr><td>Адрес:</td><td><!-- IF ACTIV --><b>{PASPORTDATA_ADDRES}</b><!-- ELSE --><input id="useradr" type="text" name="useradr" class="inputbox" alt="useradr" size="35" value="{PASPORTDATA_ADDRES}"/><!-- ENDIF --></td></tr>
<tr><td>Телефон:</td><td><!-- IF ACTIV --><b>{PHONE}</b><!-- ELSE --><input id="userphone" type="text" name="userphone" class="inputbox" alt="userphone" size="35" value="{PHONE}"/><!-- ENDIF --></td></tr>
<tr><td>Мобильный:</td><td><!-- IF ACTIV --><b>{PHONE2}</b><!-- ELSE --><input id="userphone2" type="text" name="userphone2" class="inputbox" alt="userphone2" size="35" value="{PHONE2}"/><!-- ENDIF --></td></tr>
</table>
</td>
</tr>
</table>
<!-- IF ACTIV eq 0 --><a href="#"class="button1" onClick="if (valid()) document.gov.submit();return!1" />Подписать</a><!-- ENDIF -->
</center>
</form>
</div>
<!-- INCLUDE overall_footer.html --> 