<!-- INCLUDE overall_header.html -->

<div class="panel">
<p align="right"> 
Приложение №1<br/>
к договору об оказании услуг № {ID}
</p>

<center><h2>Права и обязанности Организаторов СП на сайте <a href="http://www.sp-kemerovo.ru">www.sp-kemerovo.ru</a>.</h2></center>
<br/>
<p style="text-indent: 20px;">Организатором совместной покупки может стать любой желающий, отправивший запрос Администрации сайта,    предоставивший необходимые  документы (копии паспорта, не менее трех контактных  телефонов, по которым с ним  можно связаться, в случае необходимости, реальный адрес проживания) и подписавший договор с  Администрацией сайта.</p>
<p style="text-indent: 20px;"><b>Запрашивая статус Организатора СП, вы подтверждаете, что ознакомились со всеми правилами работы.</b></p>
<p style="text-indent: 20px;"><b>Права Организатора:</b></p>
<div style="padding:50;">
<ol style="margin-left: 25px;">
<li>Устанавливать способы оплаты за СП на свое усмотрение: 
<ul style="margin-left: 25px;">
<li>лично, в подписанном конверте на встрече Организатора.
<li>перевод через Сбербанк или иной коммерческий банк.
<li>перечислить сумму заказа на банковскую карточку Организатора.
<li>внести сумму заказа на мобильный телефон Организатора.
<li>перевод на электронный кошелек Организатора (Яндекс-Кошелек)
<li>Web-money
</ul>
<li>Применять следующие меры к недобросовестным участникам: 
<ul style="margin-left: 25px;">
<li>внесение в Черный Список Организаторов, только с обоснованием  
<li>устанавливать штрафные санкции за несвоевременную оплату заказа, без предварительной договоренности, а так же за несвоевременное получение заказа после его прихода. Штраф необходимо обосновать (например,  если вы кредитуете Участника, чтобы оплатить счет вовремя). Это необходимо писать заранее, когда закупка только открывается.
</ul>
</ol>
</div>
<br/>
<p style="text-indent: 20px;"><b>Права и Обязанности Организатора:</b></p>
<ol style="margin-left: 25px;">
<li>С каждым Организатором СП заключается письменный договор на предоставление коммерческой площадки, для осуществления ведения Совместных Покупок.
<li>Организационные расходы (%) устанавливаются сразу, при открытии СП, обосновываются рыночной ситуацией, рисками и затратами Организатора.
<li>Размер организационных расходов определяется Организатором, но не может быть более 16%.
<li>Организатор вправе оставить себе любые бонусы и  скидки, предоставляемые ему поставщиком (производителем), либо сообщить о них участникам СП. НО скидка от объема заказа – совместные. Организатор обязан предоставить её участникам.
<li>Организатор несет ответственность за возврат денег в случае пересорта позиций в заказе. Возврат денег в случае пересорта, должен быть произведен в течение трех дней, если не была достигнута иная договоренность. Если пересорт составляет более 20% от общего заказа, срок возврата денег оговаривается индивидуально, в зависимости от ситуации с поставщиком.
<li>Организатор должен предоставить Участнику именно заказанный товар (артикул, цвет, размер и др. заранее оговоренные параметры), в обратном случае Организатор обязан урегулировать вопрос возврата/обмена за свой счет. Изменение любых параметров заказа (цены, цвета и др.) должны быть в обязательном порядке согласованы с Участником. В случае отказа Участника от замены, Организатор обязан произвести обмен, если он возможен, либо вернуть Участнику полную сумму предоплаты, если таковая производилась. Если пересорт составляет более 20% от общего заказа, срок возврата денег оговаривается индивидуально, в зависимости от ситуации с поставщиком.
<li>Если Организатор не может гарантировать поставку заказанных позиций, соответствия  цвет/фасон – он обязан предупредить об этом Участников заранее, до сбора закупки. Если это первая закупка у поставщика, вероятность пересорта больше. Покупатель, делая заказ в такой сп, берет на себя риски, связанные с возможным пересортом по цвету/фасону.
<li>Если закупка уже проводилась не менее 2 раз успешно (без обоснованных претензий со стороны Участников) на сайте, то Организатор этой проведенной ранее закупки имеет преимущественное право на организацию и проведения повторных закупок с этим поставщиком. Закупка закрепляется за организатором в списке. Если другой Организатор может предложить более выгодные условия вопрос решается между Организаторами либо совместно с Администрацией.
<li>Если Организатором закупки недовольны участники СП (поступают обоснованные жалобы от 3 разных Участников)  или Администрация, то данному Организатору выносится письменное предупреждение, которое выкладывается в Новостях сайта. В случае если Организатор СП не отреагировал на предупреждение и не внес необходимые изменения в свои действия, закупка  может быть передана другому Организатору после письменного уведомления о том, что через 2 дня закупка будет передана другому Организатору. Если у Организатора накопилось 3 Предупреждения (то есть обоснованные и соответствующие действительности жалобы не менее, чем от 9 разных Участников), Администрация вправе закрыть доступ к ведению закупок на сайте данному Организатору.
<li>На сайте приветствуется только вежливое общение, как со стороны участников, так и со стороны Организаторов. Обо всех нарушениях можно уведомлять Администрацию. За грубое поведение любому Участнику или Организатору может быть вынесено предупреждение. 
<li>Все Участники на сайте в равных правах: и те, кто зарегистрирован недавно, и те, кто давно.
<li>Запрещена организация покупки лекарств, химических соединений, медицинских препаратов, витаминов, предметов, которые должны быть стерильны (например, шприцы, катетеры), предметов, которые назначаются только после консультации врачей, а также оружия, наркотических и психотропных веществ.
<li>Запрещена покупка всех других предметов, которые, по мнению Администрации        сайта, являются опасными и могут нанести какой-либо  вред участникам Закупки или Администрации сайта.
<li>Организатор, открывший впервые закупку на сайте, следующую открывает только после того, как была успешно завершена первая (без претензий со стороны Участников, Администрации). Далее действуют общие правила открытия закупок.
<li>По требованию Администрации должен быть предоставлен в 3-дневный срок прайс в электронном или отсканированном виде, информация о фирме-поставщике (Интернет-сайт, название компании). Лучше всего, переслать письмо от поставщика. Для тех, кто делает закупку от имени ИП.
<li>Администрация имеет право запросить накладную после окончания закупки, которую необходимо отправить в трехдневный срок. Если накладная по прошедшей закупке не была прислана, то все текущие и будущие покупки Организатора блокируются до факта получения требуемых документов. 
<li>С 1 по 5 число каждого месяца Организатор должен предоставить на sp-kemerovo.ru  отчетные документы.
<li>Рекламировать покупку можно в специальном разделе на форуме. В обязательном порядке должны присутствовать ссылки на покупку, на сайте, вне зависимости от того, кто создает тему – Организатор или Участник.
<li>Информация о раздаче помещается в корзинах у участников закупки.
<li>Пристраивание остатков и не подошедших вещей допустимо в специальном  разделе на сайте Организатором или Участниками.
<li>Цена на пристраиваемую вещь в итоге не должна получиться выше, нежели на нее же во время закупки. Наценка включает в себя доставку и доп. услуги.
<li>Ссылки на любые параллельные закупки на других сайтах, форумах и пр. ресурсах запрещены без согласования с Администрацией сайта.
<li>Все частные случаи оговариваются в индивидуальном порядке с Администрацией сайта.
</ol>
<br/>
<p style="text-indent: 20px;"><b>Требования к оформлению закупки:</b></p>
<ol style="margin-left: 25px;">
<li>Название темы должно быть написано одним шрифтом, не пестрить всевозможными знаками препинания.
<li>Все сроки должны быть указаны максимально четко и точно
<li>Стадию закупки необходимо менять своевременно.
<li>В закупке необходима информация о том, в какой части города будет проводиться раздача, указаны варианты сбора денег. 
</ol>

</div>
<!-- INCLUDE overall_footer.html --> 