<!-- INCLUDE overall_header.html -->


<script type="text/javascript">
// <![CDATA[
	onload_functions.push('document.getElementById("{USERNAME_CREDENTIAL}").focus();');
// ]]>
</script>

<form action="{S_LOGIN_ACTION}" method="post" id="login">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<div class="content">
<p style="font-size: 16pt;">	
		Авторизоваться на сайте можно через аккаунты соцсетей :
</p>
		
		<script type="text/javascript">document.write('<div id="uLogin2" x-ulogin-params="display=panel&fields=first_name,last_name,email,photo&optional=bdate,country,city&providers={ULOGIN_SHOWN}&hidden={ULOGIN_HIDDEN}&redirect_uri=http%3A%2F%2Fspmgn.ru%2Findex.php%3Foption%3Dcom_ulogin%26task%3Dlogin%26backurl%3D'+base64encode(document.URL)+'"></div>');</script>
<p style="font-size: 16pt;">	
	<script type="text/javascript">document.write('Либо через<a style="color: blue;" href="http://www.spmgn.ru/index.php?option=com_users&view=login&return='+base64encode(document.URL)+'"> форму авторизации</a>');</script>
</p>	
<p style="font-size: 12pt;">
		Если у вас не получается пройти авторизацию - пожалуйста напишите об этом в <a style="color: blue;" href="http://spmgn.ru/#Adres">обратную связь</a> , c указанием ошибки.
	Всем, кто пишет в обратную связь,  я отвечаю по почте. Пожалуйста, смотрите почту, возможно письма попадают в спам или в нежелательную почту.
</p>
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>


<!-- IF not S_ADMIN_AUTH and S_REGISTER_ENABLED -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="content">
			<h3>{L_REGISTER}</h3>
			<p>{L_LOGIN_INFO}</p>
			<p><strong><a href="{U_TERMS_USE}">{L_TERMS_USE}</a> | <a href="{U_PRIVACY}">{L_PRIVACY}</a></strong></p>
			<hr class="dashed" />
			<p><a href="{U_REGISTER}" class="button2">{L_REGISTER}</a></p>
		</div>

		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->

</form>

<!-- INCLUDE overall_footer.html -->