<style type="text/css">

</style>
<br/>

<table border="0" width="100%">
<!-- BEGIN dolgi -->
	<tr>
		<td>{dolgi.PURCHASE_ID}</td>
		<td>{dolgi.PURCHASE_NAME}</td>
		<td>{dolgi.PURCHASE_URL}</td>
		<td>{dolgi.PURCHASE_ADMIN_PAYMENT}</td>
		<td>{dolgi.PURCHASE_ADMIN_MONEY}</td>
		<td>{dolgi.PURCHASE_ADMIN_MONEY_DATE}</td>
		<td>{dolgi.ORG_ID}</td>
		<td>{dolgi.ORG_USERNAME}</td>
		<td>{dolgi.PARTY_COUNT}</td>
		<td>{dolgi.EC}</td>
		<td>{dolgi.TWO_PERCENT}</td>
		<td>{dolgi.ITOGO}</td>
		<td>{dolgi.EC_DATE}</td>
	</tr>
<!-- END dilgi. -->	
</table>
<hr />

  <div id="report" style=" font-size: 10pt">


</div>


<hr />
</font>


<SCRIPT language="Javascript" src="./js/common1.js"></SCRIPT>
<SCRIPT language="javascript">

</SCRIPT>