 <head>
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<link href="{T_THEME_PATH}/output_ec2_body.css" rel="stylesheet" type="text/css" />
 </head>

<body>
<form  method="post" sid = {sid}>
<div class="theader"> 
<div class="table"> 
	<div class="colgroup"> 
		<div class="col" style="width:25%; "></div>
		<div class="col" ></div>
		<div class="col" style="width:10%; "></div>
	</div>
		<div class="tr"  >
		<div class="td" style="width:25%;">Участник</div>
		<div class="td">
			<div class="table">
				<div class="col" style="width:70%; "></div>
				<div class="col" style="width:10%;"></div>
				<div class="col" style="width:10%;"></div>
				<div class="col" style="width:10%;"></div>
				<div class="tr"  >
					<div class="td center" >Закупка</div>
					<div class="td center">Дней</div>
					<div class="td center">Кол-во</div>
					<div class="td center"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>


<div class="table"> <!-- Таблица -->
	<div class="colgroup"> 
		<div class="col" style="width:25%; "></div>
		<div class="col" ></div>
		<div class="col" style="width:10%; "></div>
	</div>
		<div class="tr"  >
		<div class="td" style="width:25%;">Участник</div>
		<div class="td">
			<div class="table">
				<div class="col" style="width:70%; "></div>
				<div class="col" style="width:10%;"></div>
				<div class="col" style="width:10%;"></div>
				<div class="col" style="width:10%;"></div>
				<div class="tr"  >
					<div class="td center" >Закупка</div>
					<div class="td center">Дней</div>
					<div class="td center">Кол-во</div>
					<div class="td center"></div>
				</div>
			</div>
		</div>
	</div>

	
<!-- IF .balance -->
	<div>
	<div>
<!-- BEGIN balance -->
	<!-- IF  balance.NEW_USER -->
    </div>
	</div>
	<div id= "UID_{balance.USER_ID}"class="tr UsersRows">
		<input type="hidden" class="PCount" id="tr_cnt{balance.USER_ID}" value=0>
		<div class="td uname"  data-cnt="{balance.CNT}"><b><a href="ucp.php?i=pm&mode=compose&u={balance.USER_ID}" title="Отправиль личное сообщение участнику" target ="_blank">{balance.USERNAME}</a></b> <br> <small>({balance.USER_REALNAME}<br>{balance.USER_PHONE})</small></div>	
		<div class="td noborder"> <!-- Подробности -->
	<!-- ENDIF -->
			<div class="table">
				<div class="col" style="width:70%; "></div>
				<div class="col" style="width:10%;"></div>
				<div class="col" style="width:10%;"></div>
				<div class="col" style="width:10%;"></div>
			  <div class="tr rst" style="height:100%;">
				<div class="td "><a href="memberlist.php?mode=viewprofile&u={balance.ORG_ID}" title="Профиль организатора" target ="_blank">{balance.ORG_NAME}</a>&nbsp;/&nbsp;<b>{balance.PURCHASE_ID}</b>&nbsp;/&nbsp;{balance.PURCHASE_NAME}</div>
				<div class="td center IN_EC_DAYS">{balance.IN_EC_DAYS}</div>
				<div class="td center">{balance.COST_COUNT}</div>
		<!-- IF  balance.CONSIDERED == 1 -->
				<div class="td center td_mark"><LABEL><input class ="btn" id="mark{balance.PURCHASE_ID}!{balance.USER_ID}" type="checkbox" class="radio" name="mark[]" value="{balance.PURCHASE_ID}!{balance.USER_ID}!{balance.ORG_ID}" / hidden checked><span></span></label></div>
		<!-- ELSE -->
				<div class="td center td_mark"><LABEL><input class ="btn" id="mark{balance.PURCHASE_ID}!{balance.USER_ID}" type="checkbox" class="radio" name="mark[]" value="{balance.PURCHASE_ID}!{balance.USER_ID}!{balance.ORG_ID}" / hidden><span></span></label></div>
		<!-- ENDIF -->
			  </div>
			</div>
	<!-- END balance -->
<!-- ENDIF -->
	</div><!-- Подробности -->
	</div> <!-- UsersRows -->
</div>  <!-- Таблица -->
 </form>

 <div id='modal'></div>
 <div id='fade'></div>
<SCRIPT language="javascript">

var t1="аaбbвvгgдdеeёjoжzhзzиiйjкkлlмmнnоoпpрrсsтtуuфfхkhцcчchшshщshhъ''ыyь'эehюjuяja";
var t2="joёzhжkhхchчshшshhщ''ъehэjuюjaяaаbбvвgгdдeеzзiиjйkкlлmмnнoоpпrрsсtтuуfфcцyы'ь";
var t3="йqцwуeкrеtнyгuшiщoзpх[ъ]фaыsвdаfпgрhоjлkдlж;э'яzчxсcмvиbтnьmб,ю.";	
var t4="qйwцeуrкtеyнuгiшoщpзaфsыdвfаgпhрjоkлlд;ж'эzяxчcсvмbиnтmь,б";	
var timerid;
		
	function translite(s) {
		t=t1.replace(/([а-яёЁ])([a-z']+)/gi,'.replace(/$1/g,"$2")');
		return eval("s"+t);
	};
	function translitr(s) {
		t=t2.replace(/([a-z']+)([а-яёЁ])/gi,'.replace(/$1/g,"$2")');
		return eval("s"+t);
	};
	function transe(s) {
		t=t3.replace(/([а-яёЁ])(.)/gi,'.replace(/$1/g,"$2")');
		a=eval("s"+t);
		a=a.replace('Э','"');
		return eval("s"+t);
	};
	function transr(s) {
		t=t4.replace(/(.)([а-яёЁ])/gi,'.replace(/$1/g,"$2")');
		a=eval("s"+t);
		a=a.replace('[','х').replace(']','ъ').replace('"','Э').replace('.','ю');
		return a;
	};

	function showd(a) {
		$(".uname").parent().hide();
		$(".uname:Ucontains('" + a +"')").parent().show();
		$("div.UsersRows:visible:odd").removeClass("alt");
		$("div.UsersRows:visible:even").addClass("alt");
	};
	
$(document).ready( //документ загрузился
  function(){
	date={DATE};
	//date="qwert";
$("div.UsersRows:visible:odd").removeClass("alt");
		$("div.UsersRows:visible:even").addClass("alt");

	// новый участник
	$(".uname[data-cnt]").each(function(indx){
		a=$(this).attr('data-cnt');
		switch (a) {
			case "0":
				$(this).css("background","#FF0000");
				break
			case "1":
				$(this).css("background","#FF3333");
				break
			case "2":
				$(this).css("background","#FF6666");
				break
			case "3":
				$(this).css("background","#FF9A9A");
				break
		}
		
	});
	// Как давно в ец	
	$(".IN_EC_DAYS").each(function(indx){
		//css("background","red");
		a=$(this)[0].textContent;
		if (a>365) {
			$(this).css("background","#FF0000");
		}
		else {
			if (a>183) {
				$(this).css("background","#FF3333");
			}
			else {
				if (a>90) {
					$(this).css("background","#FF6666");
				}
				else {
					if (a>60) {
						$(this).css("background","#FF9A9A");
					}
					else {
						if (a>30) {
							$(this).css("background","#FFCDCD");
						}
					}
				}
			}
		}
	});

	// обработка кнопки выдано
	$("input.btn").click(function() {
		//alert ("нажал");
		a= this.value.split ("!");
		org_id=a[2];
		user_id=a[1];
		purshase_id=a[0];
		val=purshase_id+"!"+user_id;
		dolg=0;
		dostavka=0;
		ec_sum=0;
		summa=0;
		e=$(this).parent();
		$(e).removeClass("err");
		if (this.checked) {
			$(e).addClass("set");
			$(e).removeClass("unset");
			$.ajax({
				type : 'POST',
				url : 'function.php{SID}',
				data : {
						'cmd': "set_kassa",
						'ec': '1',
						'operations':'Приход',
						'user_id': user_id,
						'org_id': org_id,
						'purshase_id': purshase_id,
						'summa': summa,
						'dolg': dolg,
						'dostavka': dostavka,
						'ec_sum': ec_sum,
						'comment': ''
				},
				// Function is called when an answer arrives.
				success : function(result, errors)
				{
					if ("ok" == result)
					{
						//alert (dolg +"-"+ dostavka +"-"+ ec_sum +"-"+ summa +"-"+ user_id +"-"+ org_id);
						$(e).removeClass("set");
					}
					else
					{
					 //alert (result);
						alert("Произошла ошибка при обработки выдачи" +errors);
						$(e).removeClass("set");
						$(e).addClass("err");
					}
				},
   			    error: function (xhr, ajaxOptions, thrownError) {
					$(e).removeClass("set");
					$(e).addClass("err");
				}
			});
		
			document.getElementById("tr_cnt" + user_id).value=Number(document.getElementById("tr_cnt" + user_id).value)+1;
			
		}
		else {
			document.getElementById("tr_cnt" + user_id).value=Number(document.getElementById("tr_cnt" + user_id).value)-1;
			$(e).addClass("unset");
			$(e).removeClass("set");
				$.ajax({
					type : 'POST',
					url : 'function.php{SID}',
					data : {
							'cmd': "unset_kassa",
							'ec': '1',
							'operations':'Приход',
							'dolg': dolg,
							'user_id': user_id,
							'org_id': org_id,
							'purshase_id': purshase_id,
					},
					// Function is called when an answer arrives.
					success : function(result, errors)
					{
						if ("ok" == result)
						{
							//alert ("отмена");
							//x=$(e).parent().prev().css("background");
							$(e).removeClass("unset");
						}
						else
						{
							$(e).parent().css("background","F00");
							 //alert (result);
							 alert("Произошла ошибка при отмене выдачи" +errors);
							 $(e).removeClass("unset");
							 $(e).addClass("err");
						}
					},
					error: function (xhr, ajaxOptions, thrownError) {
						$(e).removeClass("unset");
						$(e).addClass("err");
					}
				});
			
			
		}

    });
  });


 </SCRIPT>
</body>





