</div>
<script type="text/javascript">
	document.domain = "spmgn.ru"; // да-да, это обязательно нужно, иначе не заработает
    function getElement(aID)
    {
        return (document.getElementById) ?
            document.getElementById(aID) : document.all[aID];
    }

    function getIFrameDocument(aID){
        var rv = null;
        var frame=getElement(aID);
        // if contentDocument exists, W3C compliant (e.g. Mozilla)

        if (frame.contentDocument) {
            rv = frame.contentDocument;
        } else {
            // bad IE  ;)
            rv = document.frames[aID].document;
        }
        return rv;
    }

    function adjustMyFrameHeight()
    {
		var frame = getElement("blockrandom");
        var frameDoc = getIFrameDocument("blockrandom");
        //frame.height = frameDoc.body.offsetHeight+50;
		frame.height = frameDoc.getElementById('height').offsetTop + 20;
    }
	
	
</script>
<body  onload="window. setInterval('adjustMyFrameHeight()',1000)">
								</div>
	                        </div>
						</div>
						</div>
                                                                    </div>
                                        <div class="clear"></div>
                </div>
            </div>
		    	
											</div>
	</div>
		<div id="rt-bottom">
	
			<div class="rt-grid-3 rt-alpha">
               <div class="rt-block ">
           	<div class="module-surround">
	           				<div class="module-title">
	                		<h2 class="title">Адрес</h2>
			</div>
	                		                	<div class="module-content">
	                		

<div class="custom"  >
	<div class="rox_bottom1">
<p>Центр выдачи заказов:</p>
<p class="house">г. Магнитогорск<br /><span>ул. Сталеваров, 17/1 солярий "Манго"<br /></span></p>
<p class="cell">8-922-69-809-82</p>
<p class="email">
 <script type='text/javascript'>
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy69139 = 'spmgn.r&#117;' + '&#64;';
 addy69139 = addy69139 + 'y&#97;nd&#101;x' + '&#46;' + 'r&#117;';
 document.write('<a ' + path + '\'' + prefix + ':' + addy69139 + '\'>');
 document.write(addy69139);
 document.write('<\/a>');
 //-->\n </script><script type='text/javascript'>
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script>Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.
 <script type='text/javascript'>
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></p>
</div></div>
	                	</div>
                	</div>
           </div>
	
</div>
<div class="rt-grid-3">
               <div class="rt-block ">
           	<div class="module-surround">
	           		                	<div class="module-content">
	                		

<div class="custom"  >
	</div>
	                	</div>
                	</div>
           </div>
	           <div class="rt-block ">
           	<div class="module-surround">
	           		                	<div class="module-content">
	                		<div class="bannergroup">

	<div class="banneritem">
																																														<img
						src="http://spmgn.ru/images/banners/indigo.png"
						alt="детский клуб "Индиго""
						width ="180"						height ="30"					/>
											<div class="clr"></div>
	</div>

</div>
	                	</div>
                	</div>
           </div>
	
</div>
<div class="rt-grid-3">
               <div class="rt-block ">
           	<div class="module-surround">
	           				<div class="module-title">
	                		<h2 class="title">Обратная связь</h2>
			</div>
	                		                	<div class="module-content">
	                		<script type="text/javascript">
window.addEvent('domready',function(){
	var sp_sc232 = new sp_sc('sp_qc_submit', {
		name: document.id('name'),
		modId: 232,
		email: document.id('email'),
		subject: document.id('subject'),
		message: document.id('message'),
		status: document.id("sp_qc_status"),
		name_text: "Имя...",
		email_text: "Адрес...",
		msg_text: "Сообщение...",
		err_msg: "Все выделенные поля должны быть заполнены.",
		email_warn: "Пожалуста введите правильный адрес электронной почты.",
		wait_text: "Пожалуйста подождите...",
		failed_text: "Соотщение не отправлено!",
		ajax_url: "http://spmgn.ru/modules/mod_sp_quickcontact/helper.php"
	});
});
</script>

<div id="sp_quickcontact232" class="sp_quickcontact">
	<div id="sp_qc_status"></div>
	<div class="sp_qc_clr"></div>
	<input type="text" name="name" id="name" onfocus="if (this.value=='Имя...') this.value='';" onblur="if (this.value=='') this.value='Имя...';" value="Имя..." />
	<div class="sp_qc_clr"></div>
	<input type="text" name="email" id="email" onfocus="if (this.value=='Адрес...') this.value='';" onblur="if (this.value=='') this.value='Адрес...';" value="Адрес..." />
	<div class="sp_qc_clr"></div>
	<input type="text" name="subject" id="subject" onfocus="if (this.value=='Тема...') this.value='';" onblur="if (this.value=='') this.value='Тема...';" value="Тема..." />
	<div class="sp_qc_clr"></div>
	<textarea name="message" id="message" onfocus="if (this.value=='Сообщение...') this.value='';" onblur="if (this.value=='') this.value='Сообщение...';" cols="" rows="">Сообщение...</textarea>	
	<div class="sp_qc_clr"></div>
	<input id="sp_qc_submit" class="button" type="submit" value="Отправить сообщение" />
	<div class="sp_qc_clr"></div>
</div>	                	</div>
                	</div>
           </div>
	
</div>
<div class="rt-grid-3 rt-omega">
               <div class="rt-block ">
           	<div class="module-surround">
	           				<div class="module-title">
	                		<h2 class="title">Рассылка</h2>
			</div>
	                		                	<div class="module-content">
	                		

<div class="custom"  >
	<p>Здесь вы можете подписаться на рассылку</p></div>
	                	</div>
                	</div>
           </div>
	           <div class="rt-block ">
           	<div class="module-surround">
	           		                	<div class="module-content">
	                		<div class="acymailing_module" id="acymailing_module_formAcymailing96341">
	<div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing96341"  >
		<form id="formAcymailing96341" action="/index.php/forum-menu" onsubmit="return submitacymailingform('optin','formAcymailing96341')" method="post" name="formAcymailing96341"  >
		<div class="acymailing_module_form" >
									<table class="acymailing_form">
				<tr>
												<td class="acyfield_email">
								<input id="user_email_formAcymailing96341" disabled="disabled"  onfocus="if(this.value == 'Адрес эл. почты') this.value = '';" onblur="if(this.value=='') this.value='Адрес эл. почты';" class="inputbox" type="text" name="user[email]" style="width:100%" value="dz_nata@mail.ru" />
							</td> </tr><tr>
					<td  class="acysubbuttons">
												<input class="button subbutton btn btn-primary" type="submit" value="Подписаться" name="Submit" onclick="try{ return submitacymailingform('optin','formAcymailing96341'); }catch(err){alert('The form could not be submitted '+err);return false;}"/>
											</td>
				</tr>
			</table>
						<input type="hidden" name="ajax" value="0"/>
			<input type="hidden" name="ctrl" value="sub"/>
			<input type="hidden" name="task" value="notask"/>
			<input type="hidden" name="redirect" value="http%3A%2F%2Fspmgn.ru%2Findex.php%2Fforum-menu"/>
			<input type="hidden" name="redirectunsub" value="http%3A%2F%2Fspmgn.ru%2Findex.php%2Fforum-menu"/>
			<input type="hidden" name="option" value="com_acymailing"/>
			<input type="hidden" name="visiblelists" value=""/>			<input type="hidden" name="hiddenlists" value="2,1"/>
			<input type="hidden" name="acyformname" value="formAcymailing96341" />
									</div>
		</form>
	</div>
	</div>
	                	</div>
                	</div>
           </div>
	
</div>
			<div class="clear"></div>
		
	</div>
			<footer id="rt-footer-surround">
						<div id="rt-copyright">
			
				<div class="rt-grid-4 rt-alpha">
               <div class="rt-block ">
           	<div class="module-surround">
	           		                	<div class="module-content">
	                		

<div class="custom"  >
	</div>
	                	</div>
                	</div>
           </div>
	
</div>
<div class="rt-grid-4">
    	<div class="clear"></div>
	<div class="rt-block">
		<a href="http://www.themerox.com/" title="Quality Templates" id="rocket"></a>
		© 2013 Совместные Покупки. Designed by IT-Mag Studio.	</div>
	
</div>
<div class="rt-grid-4 rt-omega">
    	<div class="clear"></div>
	<div class="rt-block">
		<a href="#" id="gantry-totop" rel="nofollow">На верх</a>
	</div>
	
</div>
				<div class="clear"></div>
			
		</div>
			</footer>
				</div></div>
	</div>
	</body>
</html>
